@import url(/styles/config.css);

#sc7 {
    flex-direction: column;
}
#txt-sc7 {
    text-align: center;
}
#img-sc7 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#img-sc7 > img {
    width: 120px;
    height: 120px;
}

@media (max-width: 680px){
    #img-sc7 {
        flex-wrap: wrap;
    }
    #img-sc7 > img {
        width: 90px;
        height: 90px;
    }   
}
@media (max-width: 550px){
    #img-sc7 {
        flex-wrap: wrap;
    } 
    #img-sc7 > img {
        width: 60px;
        height: 60px;
    }   
}
