@import url(/styles/config.css);

main.conteudo > section#page7 {
    color: var(--cor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
    text-align: center;
}
main.conteudo > section#page7 > div#titulo-principal-7 {
    text-align: center;
    /*font-size: 1.3em;*/
    margin-bottom: 5px;
}
main.conteudo > section#page7 > div#imagens-plataformas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px
}
main.conteudo > section#page7 > div#imagens-plataformas > img {
    width: 120px;
    height: 120px;
}








@media (max-width: 680px){
    main.conteudo > section#page7{
        padding: 30px;
    }
    main.conteudo > section#page7 > div#imagens-plataformas {
        flex-wrap: wrap;
    } 
    main.conteudo > section#page7 > div#imagens-plataformas > img {
    width: 90px;
    height: 90px;
    }   
}
