@import url(/styles/config.css);

#sc8 {
    background-image: linear-gradient(to top, var(--cor6), var(--cor7));
    flex-direction: column;
}
#sc8 > h2 {
    max-width: 900px;
}
#botao-sc7 {
    
    background: linear-gradient(135deg, var(--cor3), var(--cor4)); /* Fundo com gradiente diagonal usando variáveis de cor personalizadas */
    height: 80px;
    padding: 30px 60px;
    font-weight: bold;                                             /* Deixa o texto em negrito */
    border: none;                                                  /* Remove a borda padrão do botão */
    border-radius: 70px 0px;                                           /* Arredonda os cantos do botão (25px) */
    cursor: pointer;                                               /* Muda o cursor para a "mãozinha" ao passar sobre o botão */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);                   /* Sombra abaixo do botão, com leve transparência */
    transition: all 0.5s ease;                                     /* Faz a transição suave de qualquer mudança de estilo em 0.8s */
}
#botao-sc7:hover {
    transform: scale(1.1);                                        /* Aumenta levemente o botão (105%) ao passar o mouse */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);                  /* Aumenta a sombra ao passar o mouse para destacar mais */
    background: linear-gradient(135deg, var(--cor4), var(--cor3)); /* Inverte o gradiente das cores ao passar o mouse */
    border: 3px solid var(--cor1);
    color: var(--cor1);
} 

@media (max-width: 1080px){
    #botao-sc7 {
        max-width: 250px;
    } 
}
@media (max-width: 300px){
    #botao-sc7 {
        max-width: 150px;
    } 
}


