@import url(/styles/config.css);

#sc3 {
    flex-direction: column;
}
#txt-sc3 {
    text-align: center;
}

#txt-sc3 > p {
    max-width: 500px;
    margin: auto;
}
#celulares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.celular {
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor7));
    height: 480px;
    width: 220px;
    border: 1.5px solid rgb(217, 217, 217);
    box-shadow: inset 0 0 0 6px var(--cor7); /* Borda interna preta*/
    border-radius: 50px;
    color: var(--cor3);
    text-align: center;
    position: relative;
}
.lente {
    width: 60px;
    height: 15px;
    margin: auto;
    background-color: var(--cor7);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
.bolinha {
    width: 8px;
    height: 8px;
    background-color: rgb(28, 28, 28);
    border-radius: 8px;
    margin-left: 75%;
    border: 0.1px solid rgb(0, 67, 93);
}
.txt-celular {
    padding: 15px;
}
.txt-celular > h3 {
    margin-bottom: 10px
}
.txt-celular > p {
    width: auto;  
}
.img-sc3 {
    width: 217px;
    height: 270px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.img-sc3 > img {
    width: 180px;
    height: 250px;
    padding: 20px;
}






