@import url(/styles/config.css);

#sc2{
    flex-direction: column;
} 
#txt-sc2 {
    text-align: center;
} 
#baners-sc2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
} 
.baner-sc2 {
    background-image: linear-gradient(to top, var(--cor6), var(--cor7));
    border-radius: 50px;
    height: 220px;
    width: 200px;
    padding: 20px;
    border-top: 2px solid var(--cor3);
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.baner-sc2 > h3 {
    text-align: center;
    margin-bottom: 20px;
} 
.baner-sc2 > ul{
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
} 

@media (max-width: 1080px){
    #sc2 { 
        padding: 30px;
    }
}
@media (max-width: 850px){
    #sc2 { 
       padding: 15px;
    }
}