@import url(/styles/config.css);

main.conteudo > section#page2{
    background-color: var(--cor6);
    color: var(--cor3);
    height: 400px;
} 
main.conteudo > section#page2 div#titulo-principal-2 {
    background-color: var(--cor6);
    color: var(--cor3);
    text-align: center;
    font-size: 1.5em;
    padding: 30px;
} 
main.conteudo > section#page2 > div#baners1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
} 
main.conteudo > section#page2 > div#baners1 > div.baner {
    background-image: linear-gradient(to top, var(--cor6), var(--cor7));
    border-radius: 50px;
    height: 280px;
    width: 200px;
    padding: 25px 20px 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--cor3);
} 
main.conteudo > section#page2 > div#baners1 > div.baner > h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
} 
main.conteudo > section#page2 > div#baners1 > div.baner > ul{
    width: 150px;
    margin-left: 25px;
} 
main.conteudo > section#page2 > div#baners1 > div.baner > ul > li{
    margin-bottom: 10px;
} 