@import url(/styles/config.css);

main.conteudo > section#page4 {
    background-color: var(--cor6);
    color: var(--cor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main.conteudo > section#page4 > div#titulo-principal-4{    
    font-size: 1.4em;
    padding: 20px;
}
main.conteudo > section#page4 > div#baner2{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}
main.conteudo > section#page4 > div#baner2 > div.mini-baners2{    
    width: 200px;
    height: 200px;
    border-radius: 40px 0px 40px 0px;
    border: 2px solid var(--cor3);
    border-top: 6px solid var(--cor3);
    padding: 15px;
}
main.conteudo > section#page4 > div#baner2 > div.mini-baners2 > h3{    
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 15px;
}
main.conteudo > section#page4 > div#baner2 > div.mini-baners2 > p{    
    text-align: justify;
}