@import url(/styles/config.css);

main.conteudo > section#page4 {
    color: var(--cor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px;
}
main.conteudo > section#page4 > div#titulo-principal-4{ 
    /*font-size: ;   */
    text-align: center;
}
main.conteudo > section#page4 > div#baner2{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main.conteudo > section#page4 > div#baner2 > div.mini-baners2{    
    width: 200px;
    border-radius: 40px 0px 40px 0px;
    border: 2px solid var(--cor3);
    border-top: 6px solid var(--cor3);
    padding: 15px;
      
    background-color: var(--cor7);
}
main.conteudo > section#page4 > div#baner2 > div.mini-baners2 > h3{    
    text-align: center;
    margin-bottom: 15px;
     /*font-size: ;   */
}
main.conteudo > section#page4 > div#baner2 > div.mini-baners2 > p{    
    text-align: justify;
     /*font-size: ;   */
}


@media (max-width: 1080px){
    main.conteudo > section#page4{
        padding: 30px;
    } 
    main.conteudo > section#page4 > div#baner2 > div.mini-baners2 {    
    width: 120px;
    height: 200px;
    border-radius: 40px 0px 40px 0px;
    border: 2px solid var(--cor3);
    border-top: 6px solid var(--cor3);
    padding: 15px;
    }
}