@import url(/styles/config.css);

#img-sc1 {
    max-height: 300px;
    max-width: 300px;
    border: 4px solid var(--cor3);
    border-radius: 25px; 
}
#txt-sc1 {
    margin: 0px 15px;
    max-width: 450px;
    border: 2.5px solid var(--cor3);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#txt-sc1 > p {
    text-align: justify;
}

/* Botão 1 */
#botao-sc1 {
  padding: 20px 50px;
  border-radius: 50px 0px;
}


@media (max-width: 850px){
    #sc1 { 
        flex-direction: column;
    }
}
@media (max-width: 300px){
    #img-sc1 {
        max-height: 200px;
        max-width: 200px;
    }   
}