@import url(/styles/config.css);

#sc4 {
    flex-direction: column;
}
#txt-sc4{ 
    text-align: center;
}
#baners-sc4{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.mini-baners-sc4 {  
    width: 220px;
    border-radius: 40px 0px 40px 0px;
    border: 2px solid var(--cor3);
    border-top: 6px solid var(--cor3);
    padding: 15px; 
    background-color: var(--cor7);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mini-baners-sc4 > h3{
    margin-bottom: 0px;
}
@media (max-width: 1080px){
    .mini-baners-sc4 {    
        width: 180px;
        height: 180px;
    }
}