@import url(config.css);

footer {
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor7));
    color: var(--cor2);
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 10px;
}
footer > small {
    font-size: 0.7em;
}
section#top {
  display: flex;              /* Coloca os filhos lado a lado */
  justify-content: center;    /* Centraliza horizontalmente */
  align-items: center;        /* Centraliza verticalmente (se quiser) */
  height: 150px;              /* Ocupa toda a altura da tela */
  gap: 20px;   
}
article {
    text-align: center;
}
section#bottom {
    text-align: center;
}
