@import url(config.css);

footer {
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor7) );
    padding: 40px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}   
footer > address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
} 

footer > address > p > a {
    text-decoration: none;
    padding: 5px 20px 5px 15px;
    transition: all 0.5s ease;
} 
footer > address > p > a:hover {
    text-decoration: underline;
    color: var(--cor6);
    border-radius: 30px 0px;
    background-color: var(--cor3);
    cursor: pointer;
}  
