@import url(config.css);

footer {
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor7));
    color: var(--cor2);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}
footer > small {
    font-size: 0.5em;
}

