@import url(paginas-main/page1.css);
@import url(paginas-main/page2.css);
@import url(paginas-main/page3.css);
@import url(paginas-main/page4.css);
@import url(paginas-main/page5.css);
@import url(paginas-main/page6.css);
@import url(paginas-main/page7.css);
@import url(paginas-main/page8.css);


#sc1,#sc2,#sc3,#sc4,#sc5,#sc6,#sc7,#sc8 {
    background-color: var(--cor6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 60px;
}
#sc1,#sc2,#sc3,#sc4,#sc5,#sc6,#sc7 {
    background-color: var(--cor6);
}
@media (max-width: 1080px){
    #sc1,#sc2,#sc3,#sc4,#sc5,#sc6,#sc7,#sc8 {
    padding: 30px;
    }
}

h1 {
  /*color: greenyellow;*/
    color: var(--cor3);
}
h2 {
  /*color: gold;*/
  margin-bottom: 15px;
  color: var(--cor3);
  font-size: 30px;
}
h3 {
  /*color: aqua;*/
  margin-bottom: 30px;
  color: var(--cor3);
}
p {
  /*color: red;*/
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor1);
}
li {
  /*color: purple;*/
  color: var(--cor3);
}
